# https://docs.github.com/ja/pages/getting-started-with-github-pages/using-custom-workflows-with-github-pages
name: Check

permissions:
  contents: read

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version-file: "./.node-version"
      - run: npm ci
      - run: npm run build
      - name: Format Check
        run: npm run fmt:check
